.experience {
  padding: 50px 0;
}
.experience .headline {
  margin-bottom: 50px;
}
.experience .card {
  background: #ffffff;
  -webkit-box-shadow: -32px 48px 60px rgba(22, 23, 28, 0.04);
  box-shadow: -32px 48px 60px rgba(22, 23, 28, 0.04);
  border-radius: 12px;
  padding: 24px;
  border: none;
}
.experience .card .title {
  font-weight: 600;
}
.experience .card p {
  font: 300 1rem/1.5rem Poppins, sans-serif;
  letter-spacing: 0.025em;
  color: #303030;
}